<div class="nav-header">

    <span class="pull-left">League Tasks</span>

    <div class="container">

      <ul class="pull-left">
        <li>Pool</li>
        <li>Buy</li>
        <li>Help</li>
      </ul>

      <ul class="pull-right">
        <li>Log In</li>
      </ul>

    </div>

</div>

<div class="nav-padding">

</div>

{{outlet}}
