{{#link-to "role" header}}
  <div class="card-list-header">
    {{header}}
     <i class="glyphicon glyphicon-edit edit-icon"></i>
  </div>
{{/link-to}}


{{#each cards as |card|}}
  test
  {{#each card.champions as |champion|}}
      <span style="text-color: white;">test</span>
      {{card-widget content=champion isDragable=false}}
  {{/each}}

{{/each}}