{{#link-to "role" header}}
  <div class="card-list-header">
    {{header}}
     <i class="glyphicon glyphicon-edit edit-icon"></i>
  </div>
{{/link-to}}

{{#each cards as |card|}}

  <div style="color: white;">Testing: {{card.userChampion}}</div>

  {{card-widget content=card isDragable=false}}

{{/each}}